@import "../../../styles/main/mixins.scss";
@import "../../../styles/main/config.scss";

.Post {
  display: flex;
  padding-bottom: rem(12);
  margin-bottom: rem(12);
  border-bottom: 1px solid #F8F8F8;
  
  > a {
    color: $black;
    width: rem(74);
    text-align: left;
    flex-shrink: 0;
    
    span {
      font-size: rem(18);
      line-height: rem(24);
      display: block;
      margin-bottom: rem(8);
      
      &:last-child {
        color: #797979;
        font-size: rem(14);
        line-height: rem(18);
      }
      
      em {
        display: inline-block;
        width: rem(16);
        text-align: center;
        margin-right: rem(2);
      }
      
      svg {
        margin-right: rem(10);
        margin-bottom: -1px;
      }
    }
  }
  
  h2 a {
    color: $black;
    
    &:hover {
      color: $main-color;
    }
  }
  
  p {
    font-size: rem(14);
    line-height: rem(18);
    color: $black;
    margin-bottom: rem(8);
  }
  
  summary {
    width: 100%;
    font-size: rem(12);
    color: #797979;
    line-height: rem(16);
    
    a {
      color: #797979;
      margin-right: rem(12);
    }
    
    .tag {
      display: inline-block;
      color: #797979;
      border: 1px solid #D5D5D5;
      padding: 0 rem(3);
      text-transform: uppercase;
      font-size: rem(11);
      margin: 0 rem(4) rem(5) 0;
      
      &:hover {
        color: $main-color;
        border-color: $main-color;
      }
    }
    
    ul {
      display: inline-block;
      
      li {
        display: inline-block;
      }
    }
  }
}
