@import "../../../styles/main/mixins.scss";
@import "../../../styles/main/config.scss";

.Header {
  display: flex;
  padding: rem(16);
  
  @include breakpoint(sm) {
    padding: rem(36) rem(32);
  }
  
  .logo {
    margin-right: 16px;
    
    @include breakpoint(sm) {
      margin-right: calc(20% - 19px);  
    }
  }
}
