@import "../../../styles/main/mixins.scss";
@import "../../../styles/main/config.scss";

.Search {
  position: relative;
  width: 100%;
  
  fieldset {
    border: none;
    
    input {
      width: 100%;
      max-width: none;
      padding-left: rem(26);
      height: rem(32);
      line-height: rem(32);
      color: #797979;
      border: 1px solid #D5D5D5;
      background: #fff;
      box-sizing: border-box;
      font-size: rem(14);
      
      @include breakpoint(md) {
        max-width: calc(70% - 80px);
      }
      
      &:focus {
        max-width: none;
        outline: none;
      }
    }
    
    img {
      position: absolute;
      top: 9px;
      left: 9px;
      z-index: 2;
    }
  }
}
