@import "../../../styles/main/mixins.scss";
@import "../../../styles/main/config.scss";

.Posts {
  flex-grow: 1;
  padding: 0 rem(32);
  display: block;
  
  @include breakpoint(md) {
    flex-wrap: wrap;
    display: flex;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  footer {
    margin: rem(40) 0 rem(60);
    text-align: center;
    cursor: pointer;
    width: 100%;
    
    a {
      color: $black;
      display: inline-block;
      border: 1px solid $black;
      font-weight: 500;
      border-radius: rem(2);
      padding: rem(8) rem(34);
      text-transform: uppercase;
      font-size: rem(14);
      
      &:hover {
        color: $main-color;
        border-color: $main-color;
      }
    }
  }
}
